[package]
name = "api"
version.workspace = true
edition.workspace = true

[dependencies]
trace = { path = "../trace" }
storage = { path = "../storage" }
tokio.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
